.scale-card {
  transition: transform 1s ease-in-out;
  box-shadow: 3px pink;
}

.scale-card:hover {
  transform: scale(1.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;        /* Allow items to wrap to the next line */
  justify-content: center;
  gap: 20px;
  padding: 20px;
  list-style: none;
}

.image-size
{
  width:100px;
  height:100px;
  margin-left: 60px;
}

.Pokemon-Search
{
  border: none;
  border-bottom: 3px solid black;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
}

